.transition * {
	transition: 0.2s -webkit-transform ease-out !important;
	transition: 0.2s transform ease-out !important;
	transition: 0.2s transform ease-out, 0.2s -webkit-transform ease-out !important;
}

:host {
	position: relative;
}

.mask {
	pointer-events: none;
}

.wrapper {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

.panning img {
	pointer-events: none;
}

.carousel {
	overflow-x: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	padding-bottom: 30px;

	.content {
		display: inline-flex;
	}
}

.content {
	touch-action: pan-y !important;
	backface-visibility: hidden;
	will-change: transform, opacity;
	transform: translate3d();
	perspective: 1000;
	article {
		width: 100%;
		display: block;

		img {
			width: 100%;
			display: block;
			background-size: cover;
			background-position: center;
		}
	}
}

.slide {
	will-change: transform, opacity;
	transform: translate3d();
	backface-visibility: hidden;
	perspective: 1000;
}

.direction {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 5%;
	user-select: none;
	position: absolute;
	height: 100%;
	cursor: pointer;
	background-size: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;

	background-position: center center;

	&.left {
		left: 0;
		background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20style%3D%22transform%3A%20scale(-1%2C1)%22%20viewBox%3D%220%200%201000%201000%22%20enable-background%3D%22new%200%200%201000%201000%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cmetadata%3E%20Svg%20Vector%20Icons%20%3A%20http%3A%2F%2Fwww.onlinewebfonts.com%2Ficon%20%3C%2Fmetadata%3E%0A%3Cg%3E%3Cpath%20d%3D%22M767.9%2C499.9L291.6%2C10l-59.4%2C61.3l416.6%2C428.7L232.1%2C928.7l59.5%2C61.3L767.9%2C499.9z%22%2F%3E%3C%2Fg%3E%0A%3C%2Fsvg%3E');
	}

	&.right {
		right: 0;
		background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201000%201000%22%20enable-background%3D%22new%200%200%201000%201000%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cmetadata%3E%20Svg%20Vector%20Icons%20%3A%20http%3A%2F%2Fwww.onlinewebfonts.com%2Ficon%20%3C%2Fmetadata%3E%0A%3Cg%3E%3Cpath%20d%3D%22M767.9%2C499.9L291.6%2C10l-59.4%2C61.3l416.6%2C428.7L232.1%2C928.7l59.5%2C61.3L767.9%2C499.9z%22%2F%3E%3C%2Fg%3E%0A%3C%2Fsvg%3E');
	}
}

.indicators {
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;

	li {
		&.active * {
			color: #000;
		}

		cursor: pointer;
		display: inline-block;
		position: relative;
		margin: 0 5px;
	}
}

.active {
	.ball {
		background: #000;
		color: black;
		opacity: 1;
	}
}

.ball {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #000;
}

.grab {
	cursor: grab;
}

.grabbing {
	cursor: grabbing;
}

.mask {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
