<div class="ngx-fader" [ngClass]="{ vertical: options.vertical }">
	<div #faderElement class="fader" [ngClass]="{ grabbing: grabbing }">
		<!-- Fader Content -->
		<ng-content class="content" select="[ngx-light-fader-container]"> </ng-content>
	</div>
	<!-- Previous Slide -->
	<div *ngIf="options.arrows" #prevElement (click)="prevSlide()" class="direction left">
		<ng-container *ngTemplateOutlet="contentPrev"></ng-container>
	</div>
	<!-- Next Slide -->
	<div *ngIf="options.arrows" #nextElement (click)="nextSlide()" class="direction right">
		<ng-container *ngTemplateOutlet="contentNext"></ng-container>
	</div>
	<!-- Dots -->
	<div *ngIf="options.indicators" class="indicators">
		<li *ngFor="let dot of dots; let i = index" (click)="scrollToIndex(i)" [ngClass]="{ active: current == i }">
			<div class="ball"></div>
			<ng-container *ngTemplateOutlet="dotElm"> </ng-container>
		</li>
	</div>
	<!-- Progress -->
	<div *ngIf="progressElm && options.autoplay" #progressElement>
		<ng-container *ngTemplateOutlet="progressElm"> </ng-container>
	</div>
	<!-- Mask -->
	<div class="mask">
		<ng-container></ng-container>
	</div>
</div>
