.ngx-fader {
	.transition {
		transition: all 0.2s ease-in-out !important;
	}
	&.vertical .indicators {
		position: absolute;
		top: 0;
		right: 0;
		width: auto !important;
		z-index: 1000;
		flex-direction: column !important;
		height: 100%;
	}

	position: relative;

	.mask {
		pointer-events: none;
	}

	.slide {
		margin: 0 !important;
		opacity: 0 !important;
		z-index: 998 !important;
		transition: 0.3s ease-in-out all !important;
		top: 0;
		position: absolute;
		&.visible {
			position: relative;
			opacity: 1 !important;
			z-index: 999 !important;
		}
	}

	.wrapper {
		position: relative;
	}

	.panning img {
		pointer-events: none;
	}

	.fader {
		overflow-x: hidden;
		overflow-y: hidden;
		position: relative;
		.content {
			display: inline-flex;
		}
	}

	.content {
		touch-action: pan-y !important;

		article {
			width: 100%;
			display: block;

			img {
				width: 100%;
				display: block;
				background-size: cover;
				background-position: center;
			}
		}
	}

	.direction {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 5%;
		-webkit-user-select: none;
		/* Chrome/Safari */
		-moz-user-select: none;
		/* Firefox */
		-ms-user-select: none;
		/* IE10+ */

		/* Rules below not implemented in browsers yet */
		-o-user-select: none;
		user-select: none;
		position: absolute;
		height: 100%;
		cursor: pointer;
		background-size: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		z-index: 1000;
		background-position: center center;

		&.left {
			left: 0;
			background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20style%3D%22transform%3A%20scale(-1%2C1)%22%20viewBox%3D%220%200%201000%201000%22%20enable-background%3D%22new%200%200%201000%201000%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cmetadata%3E%20Svg%20Vector%20Icons%20%3A%20http%3A%2F%2Fwww.onlinewebfonts.com%2Ficon%20%3C%2Fmetadata%3E%0A%3Cg%3E%3Cpath%20d%3D%22M767.9%2C499.9L291.6%2C10l-59.4%2C61.3l416.6%2C428.7L232.1%2C928.7l59.5%2C61.3L767.9%2C499.9z%22%2F%3E%3C%2Fg%3E%0A%3C%2Fsvg%3E');
		}

		&.right {
			right: 0;
			background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201000%201000%22%20enable-background%3D%22new%200%200%201000%201000%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cmetadata%3E%20Svg%20Vector%20Icons%20%3A%20http%3A%2F%2Fwww.onlinewebfonts.com%2Ficon%20%3C%2Fmetadata%3E%0A%3Cg%3E%3Cpath%20d%3D%22M767.9%2C499.9L291.6%2C10l-59.4%2C61.3l416.6%2C428.7L232.1%2C928.7l59.5%2C61.3L767.9%2C499.9z%22%2F%3E%3C%2Fg%3E%0A%3C%2Fsvg%3E');
		}
	}

	.indicators {
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;

		li {
			&.active .ball {
				background: #000;
			}
			.ball {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #fff;
				border: 2px solid #000;
			}
			display: inline-block;
			cursor: pointer;
			position: relative;
			padding: 0.5rem;
		}
	}

	.active {
		.ball {
			background: #000;
			color: black;
			opacity: 1;
		}
	}

	.ball {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #fff;

		border: 2px solid #000;
	}

	.grab {
		cursor: grab;
	}

	.grabbing {
		user-select: none;
		cursor: grabbing !important;
	}

	.mask {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
}
