<h1 style="text-align: center; margin-bottom: 10px">ngx Light Slider</h1>
<p style="text-align: center">Welcome to the Demo of ngx Light Slider, this is a largely native angular slider that uses hammer to handle touch events.</p>
<br />
<br />
<h2 style="text-align: center">Autoplay & Infinite Multislide</h2>
<!-- <ngx-light-fader style="max-width: 1200px; margin-bottom: 100px; display: block;" [options]="options1" [data]="products" class="wrapper c-accent">
	<section ngx-light-fader-container class="content">
		<article [ngx-light-fader-item] *ngFor="let product of products; let i = index">
			<img src="{{ product.image }}" />
		</article>
		<ng-template #infiniteContainer></ng-template>
	</section>

	<ng-template #faderPrev>
		<div class="click-area"></div>
	</ng-template>
	<ng-template #faderNext>
		<div class="click-area"></div>
	</ng-template>

	<ng-template #carouselDot let-model>
		<div class="ball bg-accent">Check</div>
	</ng-template>

	<ng-template #carouselProgress let-progress>
		<div class="progress"></div>
	</ng-template>
</ngx-light-fader> -->
<h2 style="text-align: center">Standard Multislide</h2>
<button (click)="current = current - 1">Previous</button>
<button (click)="current = current + 1">Next</button>
<ngx-light-carousel style="max-width: 800px; margin-bottom: 100px; display: block" [current]="current" [options]="options2" [data]="products" class="wrapper c-accent">
	<section ngx-light-carousel-container class="content">
		<article [ngx-light-carousel-item] *ngFor="let product of products; let i = index">
			<div class="item cursor-pointer">
				<div class="product">
					<img class="w-100" src="{{ product.image }}" />
					<div class="text-left mt-2">
						<h3 class="title mb-1">{{ product.title }}</h3>
						<div class="pricing d-flex">
							<span class="sale-price text-danger ml-2" *ngIf="product.salePrice">{{ product.salePrice | currency }}</span>
							<span class="original-price {{ product.salePrice ? 'on-sale ml-1' : '' }}">{{ product.regularPrice | currency }}</span>
						</div>
					</div>
				</div>
			</div>
		</article>
		<ng-template #infiniteContainer></ng-template>
	</section>

	<ng-template #carouselContent let-product let-i="index">
		<article>
			<div class="item cursor-pointer">
				<div class="product">
					<img class="w-100" src="{{ product.image }}" />
					<div class="text-left mt-2">
						<h3 class="title mb-1">{{ product.title }}</h3>
						<div class="pricing d-flex">
							<span class="sale-price text-danger ml-2" *ngIf="product.salePrice">{{ product.salePrice | currency }}</span>
							<span class="original-price {{ product.salePrice ? 'on-sale ml-1' : '' }}">{{ product.regularPrice | currency }}</span>
						</div>
					</div>
				</div>
			</div>
		</article>
	</ng-template>

	<ng-template #carouselPrev>
		<div class="click-area"></div>
	</ng-template>
	<ng-template #carouselNext>
		<div class="click-area"></div>
	</ng-template>

	<ng-template #carouselDot let-model>
		<div class="ball"></div>
	</ng-template>

	<ng-template #carouselProgress let-progress>
		<div class="progress"></div>
	</ng-template>
</ngx-light-carousel>
<h2 style="text-align: center">A Single slide, Infinite</h2>
<ngx-light-carousel [(current)]="current" style="max-width: 400px; margin-bottom: 100px; display: block" [options]="options3" [data]="products" class="wrapper c-accent">
	<section ngx-light-carousel-container class="content">
		<article [ngx-light-carousel-item] *ngFor="let product of products; let i = index">
			<div class="item cursor-pointer">
				<div class="product">
					<img class="w-100" src="{{ product.image }}" />
					<div class="text-left mt-2">
						<h3 class="title mb-1">{{ product.title }}</h3>
						<div class="pricing d-flex">
							<span class="sale-price text-danger ml-2" *ngIf="product.salePrice">{{ product.salePrice | currency }}</span>
							<span class="original-price {{ product.salePrice ? 'on-sale ml-1' : '' }}">{{ product.regularPrice | currency }}</span>
						</div>
					</div>
				</div>
			</div>
		</article>
		<ng-template #infiniteContainer></ng-template>
	</section>

	<ng-template #carouselContent let-product let-i="index">
		<article>
			<div class="item cursor-pointer">
				<div class="product">
					<img class="w-100" src="{{ product.image }}" />
					<div class="text-left mt-2">
						<h3 class="title mb-1">{{ product.title }}</h3>
						<div class="pricing d-flex">
							<span class="sale-price text-danger ml-2" *ngIf="product.salePrice">{{ product.salePrice | currency }}</span>
							<span class="original-price {{ product.salePrice ? 'on-sale ml-1' : '' }}">{{ product.regularPrice | currency }}</span>
						</div>
					</div>
				</div>
			</div>
		</article>
	</ng-template>

	<ng-template #carouselPrev>
		<div class="click-area"></div>
	</ng-template>
	<ng-template #carouselNext>
		<div class="click-area"></div>
	</ng-template>

	<ng-template #carouselDot let-model>
		<div class="ball bg-accent"></div>
	</ng-template>

	<ng-template #carouselProgress let-progress>
		<div class="progress"></div>
	</ng-template>
</ngx-light-carousel>
