// /* You can add global styles to this file, and also import other style files */
// // @import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
// * {
// 	font-family: 'Noto Sans';
// }

// .wrapper {
// 	color: #000;
// 	padding-bottom: 20px;
// 	position: relative;
// 	overflow-x: hidden;
// 	overflow-y: auto;

// 	ngx-light-carousel .carousel {
// 		overflow: auto;
// 		background: #000 !important;
// 	}

// 	.content {
// 		display: inline-flex;

// 		.item {
// 			width: 100%;
// 			display: block;
// 			padding: 0.5em;

// 			img {
// 				width: 100%;
// 				display: block;
// 				background-size: cover;
// 				background-position: center;
// 			}
// 		}
// 	}

// 	.active .ball {
// 		opacity: 1;
// 	}

// 	.ball {
// 		width: 10px;
// 		height: 10px;
// 		border-radius: 50%;
// 		background: black;
// 		border: 2px solid;
// 		opacity: 0.5;
// 	}

// 	.click-area {
// 		width: 50px;
// 		text-align: center;

// 		i {
// 			font-size: 3em;
// 		}
// 	}
// }
